<div class="container">

  <table class="table">
    <thead>
    <tr>
      <th> Gebäude/Building: </th>
      <th> Stockwerk/Floor: </th>
      <th> KW/calender week:</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Shipyard</td>
      <td>4 - Team A</td>
      <td> KW 41</td>
    </tr>
    </tbody>
  </table>


  <h2>Present list of Team</h2>
  <p>Present list of Employees in KN building</p>
  <table class="table">
    <thead>
    <tr>
      <th>Name, Vorname</th>
      <th>KN Code</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Mustermann, Max</td>
      <td>GI-DB</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Musterfrau, Julia</td>
      <td>GI-DB</td>
      <td></td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Mustermann, Max</td>
      <td>GI-DB</td>
      <td></td>
      <td></td>
      <td>x</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Musterfrau, Julia</td>
      <td>GI-DB</td>
      <td></td>
      <td></td>
      <td></td>
      <td>x</td>
      <td></td>
    </tr>
    <tr>
      <td>Mustermann, Max</td>
      <td>GI-DB</td>
      <td></td>
      <td></td>
      <td>x</td>
      <td></td>
      <td>x</td>
    </tr>
    <tr>
      <td>Musterfrau, Julia</td>
      <td>GI-DB</td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Mustermann, Max</td>
      <td>GI-DB</td>
      <td></td>
      <td>x</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Musterfrau, Julia</td>
      <td>GI-DB</td>
      <td></td>
      <td></td>
      <td>x</td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
