<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Präsenzliste/ Presence list</a>
    </div>

    <div class="button-row almost-full-width" role="group">
      <button mat-raised-button color="primary" id="loginButton"
              (click)="openLoginDialog()">Refresh
      </button>
      <button mat-raised-button color="primary" id="newRegistrationButton"
              (click)="openRegistrationDialog()"> Register
      </button>
    </div>

  </div>
</nav>

